@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-Thin.eot");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #1B1F22;
  text-align: center;
}

.headers {
  text-align: center;
}

.menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 72px;
  z-index: 99;
  background-color: #1B1F22;
}
.menu-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  border-bottom: 1px solid #292B32;
}
.menu-logo {
  padding-left: 80px;
}
.menu-container {
  display: flex;
  justify-content: space-around;
  width: 50%;
  text-align: right;
}
.menu-ele {
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding-top: 24px;
  padding-bottom: 24px;
}
.menu-ele-current {
  display: block;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 2px solid red;
  padding-top: 24px;
  padding-bottom: 24px;
}
.menu-ele-current a {
  font-family: "HelveticaNeueCyr", sans-serif;
  color: #FFFFFF;
  font-size: 12px;
  text-decoration: none;
}
.menu-ele a {
  text-decoration: none;
  font-family: "HelveticaNeueCyr", sans-serif;
  color: #CBCECF;
  font-size: 12px;
}
.menu-phone a {
  font-family: "HelveticaNeueCyr", sans-serif;
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
}
.menu-eng {
  display: flex;
  justify-content: space-between;
}
.menu-eng a {
  padding-top: 3px;
  padding-left: 10px;
  font-family: "HelveticaNeueCyr", sans-serif;
  color: #CBCECF;
  font-size: 12px;
  text-decoration: none;
}
.menu-ico {
  display: flex;
  justify-content: space-between;
  width: 120px;
  padding-right: 90px;
}
.menu-circle {
  float: right;
  height: 6px;
  width: 6px;
  margin-top: -6px;
  shape-outside: circle();
  -webkit-clip-path: circle();
          clip-path: circle();
  background-color: red;
}

.wrap {
  width: 90%;
  margin-left: 20px;
  text-align: center;
}
.wrap-head {
  margin-top: 72px;
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.wrap-text {
  font-family: "HelveticaNeueCyr", sans-serif;
  color: white;
  font-size: 32px;
  text-align: left;
  font-weight: 700;
}
.wrap-videoplay {
  padding-top: 25px;
}
.wrap-container {
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}
.wrap-block1-upper {
  width: 491px;
  height: 500px;
  background-image: url("../img/block2.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.wrap-block1-circle {
  background-color: #7F8589;
  float: right;
  height: 72px;
  width: 72px;
  border: 1px solid;
  border-radius: 50%;
  border-color: #7F8589;
  opacity: 0.4;
  margin-top: 15px;
}
.wrap-block1-circle-in {
  background-color: #FF3E41;
  height: 8px;
  width: 8px;
  border: 1px solid;
  border-radius: 50%;
  margin-left: 32px;
  margin-top: 32px;
}
.wrap-block1-button {
  margin-left: -20px;
  padding-top: 170px;
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: 72px;
}
.wrap-block1-bottom {
  width: 67px;
  height: 27px;
  margin-left: 90px;
  margin-top: 30px;
  border-bottom: 1px solid;
  border-color: #CBCECF;
}
.wrap-block1-bottom a {
  font-family: "HelveticaNeueCyr", sans-serif;
  font-size: 16px;
  color: #CBCECF;
  text-decoration: none;
}
.wrap-block2 {
  margin-left: -50px;
  margin-top: -100px;
}
.wrap-block3-upper {
  font-family: "HelveticaNeueCyr", sans-serif;
  font-size: 72px;
  color: white;
  line-height: 90px;
  text-align: right;
}
.wrap-block3-hlines:before {
  content: " ";
  display: block;
  height: 2px;
  width: 80px;
  position: absolute;
  top: 50%;
  left: 0;
  background: #CBCECF;
  margin-left: 30px;
}
.wrap-block3-hlines {
  position: relative;
  text-align: center;
  font-size: 16px;
  color: #CBCECF;
  text-align: right;
  margin-top: -20px;
}
.wrap-block3-bottom {
  float: right;
  width: 115px;
  height: 105px;
  margin-top: 110px;
}
.wrap-block3-bottom-log1 {
  width: 65px;
  height: 64px;
  margin-left: auto;
  margin-right: auto;
  background: url("../img/log1.svg") center;
}
.wrap-block3-bottom-log2 {
  width: 65px;
  height: 64px;
  background: url("../img/log2.svg") no-repeat;
  background-position: 40% 50%;
}
.wrap-block3-bottom-log3 {
  width: 65px;
  height: 64px;
  background: url("../img/log3.svg") no-repeat;
  background-position: 78% 50%;
}
.wrap-block3-bottom-text1 {
  font-family: "HelveticaNeueCyr", sans-serif;
  font-size: 18px;
  color: #CBCECF;
  padding-top: 5px;
}
.wrap-block3-bottom-text2 {
  font-family: "HelveticaNeueCyr", sans-serif;
  font-size: 12px;
  color: #CBCECF;
}

.social {
  position: fixed;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  right: 27px;
}
.social-but {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #313538;
}
.social-tele {
  background: url("../img/telegram.svg") center no-repeat;
  background-color: #313538;
}
.social-whatsup {
  background: url("../img/whatsup1.svg") center no-repeat;
  background-color: #313538;
}
.social-whatsup-second {
  background: url("../img/whatsup2.svg") center no-repeat;
}
.social-email {
  background: url("../img/email.svg") center no-repeat;
  background-color: #313538;
}
.social-mail {
  background: url("../img/mail.svg") center no-repeat;
  background-color: #313538;
}

.pagination {
  position: fixed;
  left: -70px;
  transform: rotate(-90deg);
  display: flex;
  justify-content: space-between;
  width: 252px;
}

.page a {
  font-family: "HelveticaNeueCyr", sans-serif;
  font-size: 13px;
  color: #7F8589;
  text-decoration: none;
}

.page-current a {
  color: #FF3E41;
}

.sta {
  max-width: 1314px;
  margin-left: auto;
  margin-right: auto;
}

.features {
  margin-top: 100px;
}
.features-block1 {
  width: 1314px;
  height: 600px;
  background: url("../img/features-block1.png") right no-repeat;
  background-color: #25292C;
  border-radius: 15px;
}
.features-block1-main {
  float: left;
  margin-left: 72px;
  margin-top: 96px;
}
.features-block1-header {
  font-family: "HelveticaNeueCyr", sans-serif;
  font-size: 40px;
  color: white;
  text-align: left;
  font-weight: 700;
}
.features-block1-body {
  display: inline-block;
  margin-top: 72px;
}
.features-block1-body p {
  text-align: left;
  font-family: "HelveticaNeueCyr", sans-serif;
  color: #7F8589;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 550;
}
.features-block1-body-l {
  display: inline-block;
}
.features-block1-body-r {
  display: inline-block;
  margin-left: 72px;
}

table {
  width: 270px;
}

.table-tr {
  height: 48px;
  padding-top: 6px;
  border-bottom: 1px solid #303638;
}

.table-left {
  font-family: "HelveticaNeueCyr", sans-serif;
  font-size: 16px;
  color: #CBCECF;
  text-align: left;
}

.table-right {
  font-family: "HelveticaNeueCyr", sans-serif;
  font-size: 16px;
  color: #CBCECF;
  text-align: right;
}
/*# sourceMappingURL=style.css.map */