.sta
    max-width: 1314px
    margin-left: auto
    margin-right: auto
    
.features
    margin-top: 100px
    &-block1
        max-width: 1314px
        height: 600px
        background: url('../img/features-block1.png') right no-repeat
        background-color: #25292C
        border-radius: 28px
        &-main
            float: left
            margin-left: 72px
            margin-top: 96px
        &-header
            font-size: 40px
            color: white
            text-align: left
            font-weight: 700
        &-body
            display: inline-block
            margin-top: 72px
        &-body p
            text-align: left
            color: #7F8589
            font-size: 16px
            text-transform: uppercase
            font-weight: 550
        &-body-l
            display: inline-block
        &-body-r
            display: inline-block
            margin-left: 72px
    &-block2
        margin-top: 30px
        max-width: 1314px
        height: 780px
        background: url('../img/features-block2.png') center bottom no-repeat
        background-color: #25292C
        text-align: center
        &-header
            padding-top: 72px
            color: white
            font-size: 40px
            font-weight: 700
        &-main
            display: flex
            justify-content: space-between
            &-l
                text-align: left
                margin: 125px 90px
        &-head
            font-size: 24px
            color: white
            font-weight: 700
            line-height: 36px
        &-con
            margin-top: 32px
            font-size: 16px
            color: #CBCECF
            line-height: 28.8px
            &-r
                margin-top: 24px
            &-r a
                font-size: 16px
                color: #FF3E41
                line-height: 28.8px
    &-block3
        margin-top: 30px
        max-width: 1314px
        height: 600px
        background: url('../img/features-block3.png') center left no-repeat
        background-color: #25292C
        border-radius: 28px
        &-main
            float: right
            max-width: 670px
            text-align: left
            margin-right: 90px
            &-head
                margin-top: 104px
                font-size: 40px
                color: white
                font-weight: 600
            &-con
                margin-top: 48px
                margin-bottom: 148px
                font-size: 16px
                color: #CBCECF
                font-weight: 400
                line-height: 27.2px
            &-button
                max-width: 155px
                font-size: 16px
                font-weight: 550
                text-transform: uppercase
                border-bottom: 2px solid #CBCECF
            &-button a
                text-decoration: none
                color: #CBCECF
    &-block4
        max-width: 1314px
        margin-top: 30px
        display: flex
        justify-content: space-between
    &-b1
        width: 40%
        height: 782px
        background: url('../img/b1.png') center bottom no-repeat
        background-color: #25292C
        border-radius: 28px
        &-head
            max-width: 362px
            margin-left: auto
            margin-right: auto
            margin-top: 77px
            text-align: left
            font-size: 40px
            color: white
        &-main
            max-width: 362px
            margin-left: auto
            margin-right: auto
            margin-top: 48px
            text-align: left
            font-size: 16px
            color: #CBCECF
            line-height: 28.2px
    &-ulti
        width: 57%
        height: 782px
    &-b2
        display: flex
        height: 376px
        background: url('../img/b2.png') bottom right no-repeat
        background-color: #25292C
        border-radius: 28px
        align-items: center
        &-main
            display: block
            margin-left: 72px
            text-align: left
            font-size: 20px
            color: #FFFFFF
            line-height: 32px
    &-b3
        display: flex
        flex-direction: column
        height: 376px
        border-radius: 28px
        margin-top: 30px
        background-color: #25292C
        &-more
            align-self: end
            max-width: 100px
            font-size: 16px
            text-align: right
            margin-top: 48px
            margin-right: 56px
            text-transform: uppercase
            border-bottom: 2px solid #CBCECF
        &-more a
            text-decoration: none
            color: #CBCECF
        &-main
            margin: -30px auto 0 auto
            display: flex
            justify-content: space-around
            align-items: center
            height: 357px
        &-f1          
            font-size: 200px
            color: white
            font-weight: 700
        &-f2
            margin-left: 14px
            text-align: left
            font-size: 40px
            color: white
            font-weight: 700
            text-transform: uppercase
            
    
ul.dashed 
  list-style-type: none
  text-align: left
  padding: 0
ul.dashed > li 
 

ul.dashed > li:before 
  content: "—"
  margin-right: 10px
.white
    display: inline
    color: white
    font-weight: 550

            
            
table
    max-width: 270px
.table-tr
    height: 48px
    padding-top: 6px
    border-bottom: 1px solid #303638
.table-left
    +bold
    font-size: 16px
    color: #CBCECF
    text-align: left
.table-right
    +bold
    font-size: 16px
    color: #CBCECF
    text-align: right


@media ( max-width: 1400px )
    .features-block2-main-l
        margin-top: 100px
    
@media (max-width: 1314px)
    .sta
        width: 90%
@media ( max-width: 1250px)
    .features-block1
        background-size: 500px 80%
    .features-block2-main-l
        margin-top: 80px
    .features-block3
        background-size: 500px 80%
    .features-b2
        background-size: 400px 65%
@media ( max-width: 1150px)
    .features-block1
        background-size: 400px 64%
    .features-block3
        background-size: 300px 44%
@media (max-width: 1000px)
    .features-block1
        padding-top: 500px
        background-size: 500px 525px
        background-position: top right 
        display: flex
        justify-content: center
    .features-block1-main
        margin-left: 0
    .features-block2
        background-size: 100% 50%
        padding-bottom: 200px
    .features-block2-main-l
        margin: 30px 10px
    .features-block3
        background-position: top left
        background-size: 80% 50%
        padding-top: 500px
    .features-block3-main
        max-width: 500px
        margin-right: auto
        margin-left: auto
        float: none
    .features-block4
        flex-direction: column
    .features-b1
        width: 100%
    .features-ulti
        width: 100%
        margin-top: 24px 
@media (max-width: 768px)
@media (max-width: 512px)
    .features-block1
        padding-top: 330px
        padding-bottom: 60px
        background-size: 90% 40%
        background-position: top right
    .features-block1-main
        float: none
        display: flex
        justify-content: center
        flex-direction: column
        align-items: center
    .features-block1-header
        font-size: 20px
    .features-block1-body
        margin-top: 15px
        width: 100%
    .features-block1-body-l
        width: 100%
        display: block
    .features-block1-body-r
        margin-left: 0
        width: 100%
        display: block
    .features-block1-body table
        width: 90%
    .features-block2
        height: auto
        padding-bottom: 300px
    .features-block2-main
        width: 80%
        flex-direction: column
        margin-left: auto
        margin-right: auto
    .features-block2-main-l
        width: 100%
        margin: 20px 0 0
    .features-block2-header
        width: 80%
        font-size: 20px
        margin-left: auto
        margin-right: auto
        text-align: left
    .features-block2-head
        font-size: 16px
        line-height: 24px
    .features-block2-con
        margin-top: 0
    .features-block3
        background-size: 90% 49%
        padding: 0
        height: 624px
    .features-block3-main
        padding-top: 330px
        width: 85%
    .features-block3-main-head
        margin-top: 0
        font-size: 20px
    .features-block3-main-con
        font-size: 12px
        margin-top: 24px
        margin-bottom: 32px
    .features-block3-main-con br
        display: none
    .features-block3-main-button
        font-size: 12px
        width: 125px
    .features-b1
        background-image: url(../img/mobile/b1.png)
        height: 471px
    .features-b1-head
        font-size: 20px
        max-width: 70%
        margin: 24px auto
    .features-b1-main
        margin: 0 auto
        font-size: 12px
        max-width: 70%
    .features-b2
        background: url(../img/mobile/disc.png)  center top no-repeat
        background-color: #25292C
        height: 382px
    .features-b2-main
        margin-top: 220px
        max-width: 85%
        font-size: 14px
        margin-left: auto
        margin-right: auto
    .features-b2-main br
        display: none
    .features-b3
        height: 198px
    .features-b3-more
        font-size: 12px
    .features-b3-f1
        font-size: 100px
    .features-b3-f2
        font-size: 24px
    

    

        