.wrap
    width: 90%
    margin-left: 20px
    text-align: center
    &-head
        margin-top: 72px
        display: flex
        justify-content: space-between
        width: 100%
        margin-left: auto
        margin-right: auto
    &-text
        color: white
        font-size: 32px
        text-align: left
        font-weight: 700
    &-texth
        font-size: 32px
        text-align: left
        font-weight: 700
        color: #CBCECF
    &-text-mob
        margin-top: -25px
        display: none
        font-size: 18px
        font-weight: 700
        color: #CBCECF
    &-videoplay
        padding-top: 25px
    &-container
        width: 85%
        margin-right: auto
        margin-left: auto
        display: flex
        justify-content: space-between
    &-block1
        &-upper
            width: 200%
            height: 500px
            background-image: url('../img/block2.png')
            background-repeat: no-repeat
            background-size: contain
        &-circle
            background-color: #7F8589
            float: right
            height: 72px
            width: 72px
            border: 1px solid
            border-radius: 50%
            border-color: #7F8589
            opacity: 0.4
            margin-top: 15px
            &-in
                background-color: #FF3E41
                height: 8px
                width: 8px
                border: 1px solid
                border-radius: 50%
                margin-left: 32px
                margin-top: 32px
        &-button
            margin-left: -20px
            padding-top: 170px
            display: flex
            justify-content: space-between
            max-width: 300px
            height: 72px
        &-bottom
            max-width: 67px
            height: 27px
            margin-left: 90px
            margin-top: 30px
            border-bottom: 1px solid
            border-color: #CBCECF
        &-bottom a
            font-size: 16px
            color: #CBCECF
            text-decoration: none
    &-block2
        margin-left: -50px
        margin-top: -100px
    
    &-block3
        &-upper
            font-size: 72px
            color: white
            line-height: 90px
            text-align: right
        &-upper p
            margin-bottom: 0
        &-hlines:before
            content: " "
            display: block
            height: 2px
            width: 80px
            position: absolute
            top: 50%
            left: 0
            background: #CBCECF
            margin-left: 30px
        &-hlines
            position: relative
            text-align: center
            font-size: 16px
            color: #CBCECF
            text-align: right
            margin-top: -20px
        &-bottom
            float: right
            width: 115px
            height: 105px
            margin-top: 110px
            &-log1
                width: 65px
                height: 64px
                margin-left: auto
                margin-right: auto
                background: url('../img/log1.svg') center no-repeat
            &-text1
                font-size: 18px
                color: #CBCECF
                padding-top: 5px
            &-text2
                font-size: 12px
                color: #CBCECF
.social
    position: absolute
    height: 240px
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: flex-end
    right: 20px
    &-main
        width: 48px
        display: flex
        justify-content: space-between
        border-radius: 51px
        background-color: #313538
        align-items: center
    &-main:hover
        width: 192px
        .social-text
            display: block
        
    &-b1:hover
        .social-tele
            background-color: #259CD8
    &-b2:hover
        .social-whatsup
            background-color: #25CB63
    &-b3:hover
        .social-email
            background-color: #FF3E41
    &-b4:hover
        .social-mail
            background-color: #d4cd03
    &-text
        margin-left: 30px
        display: none
        font-size: 16px
        font-weight: 550
        color: #CBCECF
    &-but
        width: 48px
        height: 48px
        border-radius: 50%
        background-color: #313538
    &-tele
        background: url('../img/telegram.svg') center no-repeat
        background-color: #313538
    &-whatsup
        background: url('../img/whatsapp.svg') center no-repeat
        background-color: #313538
    &-email
        background: url('../img/email.svg') center no-repeat
        background-color: #313538
    &-mail
        background: url('../img/mail.svg') center no-repeat
        background-color: #313538
.pagination
    position: fixed
    left: -70px
    transform: rotate(-90deg)
    display: flex
    justify-content: space-between
    width: 252px
    z-index: 100
.page a
    +bold
    font-size: 13px
    color: #7F8589
    text-decoration: none
.page-current a
    color: #FF3E41

@media (max-width: 1400px)
    .wrap-block1-upper
        width: 150%
@media (max-width: 1200px)
    header
        max-width: 1000px
    .hlines
        font-size: 60px
    .wrap-block3-hlines:before
        width: 30px
@media ( max-width: 1100px)
    .social
        display: none
    .page 
        display: none
@media (max-width: 1000px)
    .wrap
        margin-top: -100px
    .wrap-container
        width: 100%
        flex-direction: column-reverse
        justify-content: center
    .wrap-block2
        margin-left: 30px
            
    .wrap-block1-button
            flex-direction: column
            justify-content: center
            align-items: center
            margin: 0
    .wrap-block1-upper
        background-image: none
    .wrap-block1-circle,
    .wrap-block3-upper
        display: none
    .wrap-text-mob
        display: flex
    .wrap-block1
        margin: -120px auto 0
    .wrap-block1-upper
        width: auto
        height: auto
    .wrap-block1-bottom
        margin-left: auto
        margin-right: auto
@media (max-width: 768px)
    .wrap-head
        align-items: center
    .wrap-text
        font-size: 35px
    .wrap-texth
        font-size: 18px
        line-height: 28px
    .wrap-videoplay
        padding: 0
@media ( max-width: 512px )
    .wrap-block2
        margin-top: 0
    .wrap img
        width: 70%
    .wrap-videoplay img
        width: 71.5px
        height: 67.8
    .wrap-block3-bottom-log1
        background-size: 34px 34px
    .wrap-block3-bottom
        width: 60px
        height: 55px
    .wrap-block3-bottom-text1
        font-size: 9px
    .wrap-block3-bottom-text2
        font-size: 6px
    
    

    

    
        

        